@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: url('/Timeless Elegance_ 10 Luxurious Living Room Ideas.jpeg'); /* Specify the path to your image */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center; /* Center the image */
    align-items: center; /* Optional: vertically center content */
    justify-content: center; /* Optional: horizontally center content */
    padding: 40px;
  }
  